.poppins {
            font-family: Poppins;
        }


        body {

}

.alert {
  display: none;
}

.OptionsBtn {
  display: none;
}


.lightning-box {
  position: relative;
  width: 200px;
  height: 200px;
  /* padding: 10px; */
  border-radius: 14px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
   /* zinc-300 */
}

/* lightning glow */
.lightning-box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: linear-gradient(
    120deg,
    #00f6ff,
    #4facfe,
    #00f6ff,
    #9b5cff,
    #00f6ff
  );
  background-size: 300% 300%;
  animation: lightningMove 2s linear infinite;
  filter: blur(8px);
  z-index: 0;
}

/* inner background layer */
.lightning-box::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: #d4d4d8;
  border-radius: 10px;
  z-index: 1;
}

/* QR image stays untouched */
#QrImage {
  z-index: 2;
  position: relative;
}

.lightning-box::before {
  inset: -6px;
}
